@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
  color: #fff;
}

body {
  min-height: 100vh;
  background: #DCECF8;
}

.persistCheck {
  font-size: 0.75rem;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.fc .fc-button-primary {
  background-color: rgb(208, 210, 245);
  border-color: white;
  color: var(--fc-button-text-color);
}

.fc .fc-button-primary:focus,
.fc .fc-button-primary:hover {
  background-color: rgb(152, 152, 230);
  color: white;
  border-color: white;
}

.fc .fc-button-primary:disabled {
  background-color: rgb(169, 152, 243);
  border-color: white;
  color: var(--fc-button-text-color);
}

.fc .fc-daygrid-day.fc-day-today{
  background-color: rgb(208, 210, 245);
}