.search{
    width:40%;
    height:40px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    border-radius: 0.8rem;
    background-color: #f5f5f5;
}
.search-label{
    font-family: 'Nunito', sans-serif;
    margin:10px;
    margin-top:30px;
    font-weight:bold;
}